p{
    color: white;
}

body{
    margin: 0;
    background-color: rgb(14,22,33);
    margin-top: 100px;
}
.head{
    width: 100%;
    height: 70px;
    background-color: 	rgb(23,33,43);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    left: 0;
    top: 0;
    gap: 30px;
}

.poisk{
    width: 300px;
    height: 35px;
    font-size: 20px;
    border-radius: 10px;
    border: none;
    background-color: rgb(43,82,120);
    padding: 5px;
    
}
.gorod{
    width: 300px;
    height: 35px;
    font-size: 20px;
    border-radius: 10px;
    border: none;
    background-color: rgb(43,82,120);
    padding: 5px;
    
}
::placeholder{
    color: white;
    padding: 5px;
}
.cart{
    width: 1000px;
    display: flex;
    border: 1px solid black;
    margin: 0 auto;
    margin-bottom: 20px;
    border-radius: 15px;
    background-color: rgb(23,33,43);
}

.pic{
    width: 30%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: left;
}

.PicT{
    height: 90%;
    border-radius: 100%;
    margin-left: 10px;
}

.txt{
    width: 70%;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    gap: 10px;
    
}
.text{
    font-size: 30px;
    text-align: left;
    margin: 0;
}
.city{
    font-size: 30px;
    text-align: left;
    margin: 0;
}

.send{
    background-color: rgb(92, 92, 184);
    border-radius: 10px;
    width: 100px;
    padding: 10px;
    font-size: 20px;
    margin: 0;
    text-align: center;
}